# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MQL4/MT4
*.ex4
*.ex5
*.log

# Systèmes
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/dev.db-journal
.prisma/

# Logs
logs/
*.log

# Autres
.idea/
.vscode/
*.bak

/generated/prisma
